spring:
  application:
    name: gestao-funcionarios
  datasource:
    url: jdbc:postgresql://localhost:5432/gestao_funcionarios
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    open-in-view: false
  flyway:
    enabled: true
    locations: classpath:db/migration
